<div ng-repeat="ClassName in Classes | filter: classParam | orderBy:'toString()'">
	<h2>{{ClassName}}</h2>
	<table class="bordered">
	<thead>
		<tr>
			<th>#</th>        
			<th>Class</th>
			<th>Student</th>
			<th>Grade</th>
		</tr>
	</thead>	
	<tr ng-repeat="Grade in tablesGrades | filter : { name: nameParam, class: ClassName } | orderBy:['class','name','grade']">
		<td>{{$index + 1}}</td>        
		<td>{{Grade.class}}</td>
		<td>{{Grade.name}}</td>
		<td>{{Grade.grade}}</td>
	</tr>        
	<tr ng-show="!hasGrades(ClassName, nameParam)">
		<td></td>        
		<td>This Student has no Grades for this Class</td>        
		<td></td>
		<td></td>
	</tr>        
	</table>
</div>
